{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <link rel="stylesheet" href="{% static "\css\timeline.css"%}">
  <style>
  #journey{
    font-size:13rem;
  }
@media screen and (max-width: 400px) {
  #journey{
    font-size: 5rem;
  }
}
  </style>
</head>


    <!-- hero
    ================================================== -->
    <section id="hero" class="s-hero target-section">
      <div class="s-hero__bg">
        <div class="gradient-overlay"></div>
    </div>
        

        <div class="row s-hero__content">
            <div class="column">

                <h1 id="journey"  >Journey of <br>CSI SFIT</h1>
                <div class="s-hero__content-about">

                    
    
                </div>

            </div>
        </div>


        <div class="s-hero__scroll">
            <a href="#about" class="s-hero__scroll-link smoothscroll">
                Scroll Down
            </a>
        </div>

    </section> <!-- end s-hero -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about">

        <div class="horizontal-line"></div>

            <div class="timeline" style="font-size:2rem;">
              <h1 style="display:none;"></h1>
             <div class="timeline__event animated fadeInUp timeline__event--type1">
              <div class="timeline__event__icon">
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x" style="color:hsla(345, 93%, 44%, 1);"></i>
                  <i class="fas fa-users fa-stack-1x fa-inverse" style="margin:auto;"></i>
                </span>
              </div>
              <div class="timeline__event__date">
             2002
              </div>
              <div class="timeline__event__content">
          
                <div class="timeline__event__description">
                  <p class="de">We set afloat on the breathtaking journey of CSI SFIT</p>
                </div>
              </div>
            </div>
            <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
              <div class="timeline__event__icon">
                <a target="_blank" href="https://www.youtube.com/channel/UC7fiMWl2n3BXDQCKk3blUMA">
                  <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x" style="color:#FF0000;" onMouseOver="this.style.color='#cc181e'" onMouseOut="this.style.color='#FF0000'"></i>
                    <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </div>
              <div class="timeline__event__date">
              2017
              </div>
              <div class="timeline__event__content">
                
                <div class="timeline__event__description" style="text-align: right;">
                  <p class="de">CSI SFIT Youtube Channel Launched</p>
                </div>
          
              </div>
            </div>
            <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
              <div class="timeline__event__icon">
                <a target="_blank" href="https://www.instagram.com/csi_sfit">
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x" onMouseOver="this.style.background='#C13584'" onMouseOut="this.style.background='radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)'" style="height: 90px;width: 90px;border-radius:50%;color:transparent;background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);"></i>
                  <i class="fab fa-instagram fa-inverse fa-stack-1x" style="margin: auto;"></i>
                </span>
                </a>
                </div>
              <div class="timeline__event__date">
              2017
              </div>
              <div class="timeline__event__content">
                
                <div class="timeline__event__description">
                  <p class="de">Our very first presence on socials through Instagram</p>
                </div>
            
              </div>
            </div>
            <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
              <div class="timeline__event__icon">
                
                <a target="_blank" href="https://github.com/CSI-SFIT">
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x" style="color:#171515;" onMouseOver="this.style.color='#303030'" onMouseOut="this.style.color='#171515'"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse" style="margin:auto;"></i>
                </span>
                </a>
              </div>
              <div class="timeline__event__date">
              2019
              </div>
              <div class="timeline__event__content">
                
                <div class="timeline__event__description" style="text-align: right;">
                  <p class="de">Launch of CSI’s very own Github organization to help students with amazing resources</p>
                </div>
            
              </div>
            </div>
            <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
              <div class="timeline__event__icon">
                <a target="_blank" href="https://twitter.com/csi_sfit">
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x" style="color:#1DA1F2;" onMouseOver="this.style.color='#00ddff'" onMouseOut="this.style.color='#1DA1F2'"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
              <div class="timeline__event__date">
              2020
              </div>
              <div class="timeline__event__content">
                
                <div class="timeline__event__description">
                  <p class="de">CSI SFIT Twitter Launched</p>
                </div>

              </div>
            </div>
            <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
              <div class="timeline__event__icon">
                <a target="_blank" href="https://www.linkedin.com/company/csi-sfit/">
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x" style="color:#2867B2;" onMouseOver="this.style.color='#008fdd'" onMouseOut="this.style.color='#2867B2'"></i>
                  <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
              <div class="timeline__event__date">
              2020
              </div>
              <div class="timeline__event__content">
                
                <div class="timeline__event__description" style="text-align: right;">
                  <p class="de">A glimpse into the slightly more professional side of CSI through launch of LInkedIn</p>
                </div>
            
              </div>
            </div>
            <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
              <div class="timeline__event__icon">
                <a target="_blank" href="https://discord.gg/aJBAje32jU">
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x" style="color:#738ADB;" onMouseOver="this.style.color='#b4c0eb'" onMouseOut="this.style.color='#738ADB'"></i>
                  <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
              <div class="timeline__event__date">
              2020
              </div>
              <div class="timeline__event__content">
                
                <div class="timeline__event__description">
                  <p class="de">CSI SFIT Discord Server Launched</p>
                </div>
            
              </div>
            </div>
            <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
             <div class="timeline__event__icon">
              <a target="_blank" href="https://youtube.com/playlist?list=PLOl0o6kVio2q8jIfWqdeXLbBt97gHDFfp">
               <span class="fa-stack fa-2x">
                 <i class="fas fa-circle fa-stack-2x" style="color:#FF0000;" onMouseOver="this.style.color='#cc181e'" onMouseOut="this.style.color='#FF0000'"></i>
                 <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
               </span>
               </a>
             </div>
             <div class="timeline__event__date">
             2020
             </div>
             <div class="timeline__event__content">
               
               <div class="timeline__event__description" style="text-align: right;">
                 <p class="de">Inception of an amazing series “The CSI Show” where we interviewed amazing personalities</p>
               </div>
           
             </div>
           </div>                  
            <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
              <div class="timeline__event__icon">
                <a target="_blank" href="https://discord.gg/aJBAje32jU">
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x" style="color:#738ADB;" onMouseOver="this.style.color='#b4c0eb'" onMouseOut="this.style.color='#738ADB'"></i>
                  <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
                </span>
                </a>
              </div>
              <div class="timeline__event__date">
              2021
              </div>
              <div class="timeline__event__content">
                
                <div class="timeline__event__description">
                  <p class="de">Start of a small initiative with discord sessions on various tech topics</p>
                </div>

              </div>
            </div>
              <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
                <div class="timeline__event__icon">
              <a target="_blank" href="https://youtube.com/playlist?list=PLOl0o6kVio2pd9KvKNC5wrmyt2xLNX53J">
                  <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x" style="color:#FF0000;" onMouseOver="this.style.color='#cc181e'" onMouseOut="this.style.color='#FF0000'"></i>
                    <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                  </span>
                  </a>
                </div>
                <div class="timeline__event__date">
                2021
                </div>
                <div class="timeline__event__content">
                  
                  <div class="timeline__event__description" style="text-align: right;">
                    <p class="de">We returned with an addition to the popular “The CSI Show” with Season 2</p>
                  </div>
              
                </div>
              </div>  
            </div>

    </section> <!-- end s-about -->



   {% endblock content %}
   {% block footend %}
   
   {% endblock footend %}

</body>

</html>