<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>CSI SFIT</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- CSS
    ================================================== -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{% static "\css\events.css"%}">
   

    <!-- script
    ================================================== -->
    
    <script src="{%static "js/typed.js" %}"></script>
    <script src="{%static "js/modernizr.js" %}"></script>
    <script defer src="{%static "js/fontawesome/all.min.js" %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{%static "apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="Logo1.png">
    <link rel="icon" type="image/png" sizes="16x16" href="Logo1.png">
    <link rel="manifest" href="{%static 'site.webmanifest'%}">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="s-header__logo">
            <a href="/">
                <h2 id="navbar-logo" style="font-family: 'DaggerSquare';margin-top: 0px;padding-right: 10px;font-size:27px;margin-bottom: 0px;bottom: 0px;">CSI SFIT</h2>
            </a>
        </div>

        <div class="s-header__content">
    
            <nav class="s-header__nav-wrap">
                <ul class="s-header__nav">
                    <li><a class=" hvr-underline-from-center" href="/" title="Intro">Home</a></li>
                    <li><a class=" hvr-underline-from-center" href="/aboutus/" title="About">About</a></li>
                    <li><a class=" hvr-underline-from-center" href="/teams/" title="Services">Teams</a></li>
                    <li><a class=" hvr-underline-from-center" href="/events/" title="Events">Events</a></li>
                    <li><a class=" hvr-underline-from-center" href="/posts/" title="Works">Posts</a></li>
                </ul>
            </nav>  <!-- end s-header__nav-wrap -->

            <a href="mailto:#0" class="btn btn--primary btn--small">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z"/></svg>
                Contact us
            </a>

        </div> <!-- end header-content -->

        <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->
<section>


</section>
    <section >
        
        <!-- partial:index.partial.html -->
        <section class="dark" style="padding-top:60px" >
            <div class="container py-4 ">
              
                {% for event in events %}
                <article class="postcard dark red" style="
                margin-top: 80px;">
                    {%if event.images.all %}
                    <a class="postcard__img_link" href="/e/{{event.url}}">
                        <img class="postcard__img" src="{%for image in event.images.all%}{% if forloop.first %}{{image.image.url}}{%endif%}{%endfor%}" alt="Image Title" />
                    </a>
                    {%endif%}
                    <div class="postcard__text" style="
                    padding-left: 50px;">
                        <h1 class="postcard__title blue"><a href="/e/{{event.url}}">{{event.title}}</a></h1>
                        <div class="postcard__subtitle small">
                            <time datetime="2020-05-25 12:00:00">
                                <i class="fas fa-calendar-alt mr-2"></i>{{ event.date|date:"d M Y" }}, {{ event.date|time:"h:i A" }}
                            </time>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">{{event.content|truncatechars:255}}</div>
                        <ul class="postcard__tagbox">
                            <li class="tag__item play blue">
                                <a href="{{event.registrationLink}}" target="_blank"><i class="fa fa-user-plus" aria-hidden="true"></i>Register Now</a>
                            </li>
                        </ul>
                    </div>
                </article>
                {% endfor %}
            </div>
        </section>
        

          
        
</section>


  



    <!-- footer
    ================================================== -->
    <footer data-aos="fade-up"
    data-aos-duration="3000" class="s-footer">
        <div class="row row-y-top">

            <div class="column large-8 medium-12">
                <div class="row">
                    <div class="column large-10 tab-12 s-footer__block">
                        <h4 class="h6">Where to Find Us</h4>
        
                        <p>
                       <i class="fas icon fa-university hvr-underline-reveal"></i> ST.Francis institute of technology  <br>
                       <i class="fas icon fa-map-marked-alt"></i> Mount Poinsur, S.V.P. Road, Borivali (West),<br> Mumbai 400 103 <br>
                       <i class="fas icon fa-envelope"></i>csi@sfit.ac.in<br>
                       <i class="fas icon fa-phone-volume"> </i> 022-28954787
                    
                        </p>
                    </div>
        
                    <div class="column large-5 tab-12 s-footer__block">
                        <h4 class="h6">Follow Us</h4 class="h6">
        
                        <ul class="social-i">
                            <a href="https://github.com/CSI-SFIT"><i class="fab links fa-github fa-2x"></i></a>
                            <a href="https://www.instagram.com/csi_sfit/"><i class="fab links fa-instagram fa-2x"></i></a>
                           <a href="https://www.linkedin.com/company/csi-sfit/mycompany/"> <i class="fab links fa-linkedin fa-2x"></i></a>
                            
                        </ul>
                    </div>
                </div>
            </div>

            <div class="column large-4 medium-12 s-footer__block--end">
                <a href="mailto:#0" class="btn h-full-width">Let's Talk</a>

                <div class="ss-copyright">
                    <span>Copyright Flare 2020</span> 
                    <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
                </div>
            </div>

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <i class="fas fa-arrow-up"></i>
                </a>
            </div> <!-- end ss-go-top -->

        </div>
    </footer>




    <!-- Java Script
    ================================================== -->
</script>
<script src="{%static 'js/jquery-3.2.1.min.js'%}"></script>
<script src="{%static 'js/plugins.js'%}"></script>
<script src="{%static 'js/main.js'%}"></script>
   
</body>

</html>