  {% load static %}
  <!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="row row-y-top">

            <div class="column large-8 medium-12">
                <div class="row">
                    <div class="column large-10 tab-12 s-footer__block">
                        <h4 class="h6">Where to Find Us</h4>
        
                        <p>
                       <i class="fas icon fa-university hvr-underline-reveal"></i>  ST.Francis institute of technology  <br>
                       <i class="fas icon fa-map-marked-alt"></i>   Mount Poinsur, S.V.P. Road, Borivali (West), Mumbai 400 103 <br>
                       <i class="fas icon fa-envelope"></i>   sfedu@sfit.ac.in<br>
                       <i class="fas icon fa-phone-volume"> </i>  022-28954787
                    
                        </p>
                    </div>
        
                    <div class="column large-5 tab-12 s-footer__block">
                        <h4 class="h6">Follow Us</h4 class="h6">
        
                        <ul class="social-i">
                            <a href="https://github.com/CSI-SFIT"><i class="fab links fa-github fa-2x"></i></a>
                            <a href="https://www.instagram.com/csi_sfit/"><i class="fab links fa-instagram fa-2x"></i></a>
                           <a href="https://www.linkedin.com/company/csi-sfit/mycompany/"> <i class="fab links fa-linkedin fa-2x"></i></a>
                            
                        </ul>
                    </div>
                </div>
            </div>

            <div class="column large-4 medium-12 s-footer__block--end">
                <a href="mailto:#0" class="btn h-full-width">Let's Talk</a>

                <div class="ss-copyright">
                    <span>Copyright Flare 2020</span> 
                    <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
                </div>
            </div>

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <i class="fas fa-arrow-up"></i>
                </a>
            </div> <!-- end ss-go-top -->

        </div>
    </footer>
    

    


    <!-- Java Script
    ================================================== -->
    <script src="../typed.js"></script>
    <script>
        var typed = new Typed('.type', {
    strings: [' makeIThappen ', ' makeIThappen ','makeIThappen'],
    typeSpeed: 60,
    backSpeed: 60,
    loop: true,
  });
  
  
    </script>
    <script src="{%static 'js/jquery-3.2.1.min.js'%}"></script>
    <script src="{%static 'js/plugins.js'%}"></script>
    <script src="{%static 'js/main.js'%}"></script>

