{% load static %}
<!-- footer
    ================================================== -->
<footer class="s-footer">
    <div class="row row-y-top">

        <div class="column large-8 medium-12">
            <div class="row">
                <div class="column large-10 tab-12 s-footer__block">
                    <h4 class="h6">Where to Find Us</h4>

                    <p style="font-size:2.5rem;">
                        <i class="fas icon fa-university hvr-underline-reveal"></i>   St.Francis institute of technology
                        <br>
                        <i class="fas icon fa-map-marked-alt"></i>   Mount Poinsur, S.V.P. Road, Borivali (West), Mumbai
                        400 103 <br>
                        <a href="mailto:csi@sfit.ac.in" target="_blank"><i class="fas icon fa-envelope"></i>   csi@sfit.ac.in</a><br>
                        <i class="fas icon fa-phone-volume"> </i> 022-28954787

                    </p>
                </div>

                <div class="column large-10 tab-12 s-footer__block">
                    <h4 class="h6">Follow Us</h4 class="h6">

                    <ul class="social-i">
                        <a target="_blank" href="https://github.com/CSI-SFIT">
                            <span class="fa-stack fa-2x" style="width:50px;height:50px;">
                                <i class="fas fa-circle fa-stack-2x" style="color:#171515;height: 50px;width: 50px;" onMouseOver="this.style.color='#303030'" onMouseOut="this.style.color='#171515'"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse" style="margin: auto;height:25px;width:25px;"></i>
                            </span>
                        </a> 
                        <a target="_blank" href="https://www.instagram.com/csi_sfit">
                            <span class="fa-stack fa-2x" style="width:50px;height:50px;">
                              <i class="fas fa-circle fa-stack-2x" onMouseOver="this.style.background='#C13584'" onMouseOut="this.style.background='radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)'" style="height: 50px;width: 50px;border-radius:50%;color:transparent;background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);"></i>
                              <i class="fab fa-instagram fa-inverse fa-stack-1x" style="margin: auto;height:25px;width:25px;"></i>
                            </span>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/company/csi-sfit/">
                            <span class="fa-stack fa-2x" style="width:50px;height:50px;">
                              <i class="fas fa-circle fa-stack-2x" style="color:#2867B2;" onMouseOver="this.style.color='#008fdd'" onMouseOut="this.style.color='#2867B2'"></i>
                              <i class="fab fa-linkedin-in fa-stack-1x fa-inverse" style="margin: auto;height:25px;width:25px;"></i>
                            </span>
                        </a>
                        <a target="_blank" href="https://www.youtube.com/channel/UC7fiMWl2n3BXDQCKk3blUMA">
                            <span class="fa-stack fa-2x" style="height: 50px;width: 50px">
                              <i class="fas fa-circle fa-stack-2x" style="color:#FF0000; height: 50px;width: 50px;" onMouseOver="this.style.color='#cc181e'" onMouseOut="this.style.color='#FF0000'"></i>
                              <i class="fab fa-youtube fa-stack-1x fa-inverse" style="margin: auto;height:25px;width:25px;"></i>
                            </span>
                        </a>
                        <a target="_blank" href="https://discord.gg/aJBAje32jU">
                            <span class="fa-stack fa-2x" style="height: 50px;width: 50px">
                              <i class="fas fa-circle fa-stack-2x" style="color:#738ADB; height: 50px;width: 50px;" onMouseOver="this.style.color='#b4c0eb'" onMouseOut="this.style.color='#738ADB'"></i>
                              <i class="fab fa-discord fa-stack-1x fa-inverse" style="margin: auto;height:25px;width:25px;"></i>
                            </span>
                        </a>
                        <a target="_blank" href="mailto:csi@sfit.ac.in">
                            <span class="fa-stack fa-2x" style="height: 50px;width: 50px">
                              <i class="fas fa-circle fa-stack-2x" style="color:white; height: 50px;width: 50px;" onMouseOver="this.style.color='#d4d4d4'" onMouseOut="this.style.color='white'"></i>
                              <!-- <i class="fas fa-envelope-square fa-stack-1x fa-inverse" style="margin: auto;height:25px;width:25px;"></i> -->
                              <span class="iconify fa-stack-1x" data-icon="logos:google-gmail" style="margin: auto;height:25px;width:25px;"></span>
                            </span>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="column large-4 medium-12 s-footer__block--end">
            <a href="https://linktr.ee/CSI_SFIT" target="_blank" class="btn h-full-width"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path
                        d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z" />
                </svg>
                Contact Us</a>

            <div class="ss-copyright">
                <span>© 2021 Copyright: CSI SFIT</span>
            </div>
            <div class="ss-copyright">
            <span> Website by: 
                <br><a href="https://www.linkedin.com/in/varun-patkar/">Varun Anand Patkar</a>
            <br>
                <a href="https://www.linkedin.com/in/vedant-kadam-412021204/">Vedant Kadam</a>
            <br>
                <a href="https://www.linkedin.com/in/parbat-singh-8b9305218/">Parbatsingh Rajpurohit</a>
            <br>
            </span>
            </div>
        </div>

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#hero">
                <i class="fas fa-arrow-up"></i>
            </a>
        </div> <!-- end ss-go-top -->

    </div>
</footer>





<!-- Java Script
    ================================================== -->
<script src="{%static 'js/typed.js'%}"></script>
<script>
    var typed = new Typed('.type', {
        strings: [' makeIThappen ', ' makeIThappen ', 'makeIThappen'],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true,
    });


</script>
<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<script src="{%static 'js/jquery-3.2.1.min.js'%}"></script>
<script src="{%static 'js/plugins.js'%}"></script>
<script src="{%static 'js/main.js'%}"></script>