{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">



    <!-- hero
    ================================================== -->
    <section id="hero" class="s-hero target-section">

        <div class="s-hero__bg">
            <div class="gradient-overlay"></div>
        </div>

        <div class="row s-hero__content">
            <div class="column">

                <h1>CSI SFIT</h1>
                <div class="s-hero__content-about">

                    <h2 data-aos="left" class="tranparent"># <span class="type"></span>
                    <br> </h2>
    
                    <a href="/events_single/">hello</a>
                </div>

            </div>
        </div>

        

        <div class="s-hero__scroll">
            <a href="#about" class="s-hero__scroll-link smoothscroll">
                Scroll Down
            </a>
        </div>

    </section> <!-- end s-hero -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about">

        <div class="horizontal-line"></div>

        <div class="row">
            <div class="column large-12">

                <div class="section-title" data-num="01" data-aos="fade-up">
                    <h3 class="h6">Who We Are</h3>
                </div>

            </div>

            <div class="column large-6 w-900-stack s-about__intro-text">
                <h1 class="display-1" data-aos="fade-up">
                   CSI-SFIT
                </h1>

                <p class="lead" data-aos="fade-up">
                    CSI is the largest and one of the most professionally managed association of India for CS and IT professionals. <br>
                     CSI SFIT, since its inception, has proven to be a great source of knowledge by providing hands-on technical training and has worked towards the goal of transforming students into technical and competent professionals. <br>
                </p>
            </div>

            <div class="column large-6 w-900-stack s-about__photo-block">
                
                    <div><img src="images/avatars/Logo1.png" alt=""></div>
                </div>
            </div>
        </div>


    </section> <!-- end s-about -->


   

    <section id="portfolio" class="s-portfolio">

        <div class="row s-porfolio__top">
            <div class="column large-6 w-900-stack">
                <div class="section-title" data-num="03" data-aos="fade-up">
                    <h3 class="h6">Recent Works</h3>
                </div>
            </div>
            <div class="column large-6 w-900-stack">
                <h1 class="display-1" data-aos="fade-up">
                    Here are some of our projects we done lately. Feel
                    free to check them out.
                </h1>
            </div>
        </div> <!-- end s-portfolio__top-->

        <div class="row s-portfolio__list block-large-1-2 block-tab-full collapse">

            <div class="column" data-aos="fade-up">
                <div class="folio-item">
                    <div class="folio-item__thumb">
                        <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-red-wheel.jpg" title="The Red Wheel" data-size="1050x700">
                            <img src="images/portfolio/red-wheel.jpg" 
                                 srcset="images/portfolio/red-wheel.jpg 1x, images/portfolio/red-wheel@2x.jpg 2x" alt="">
                        </a>
                    </div>
                    <div class="folio-item__info">
                        <div class="folio-item__cat">Branding</div>
                        <h4 class="folio-item__title">The Red Wheel</h4>
                    </div>
                    <a href="https://www.behance.net/" title="Project Link" class="folio-item__project-link">Project Link</a>
                    <div class="folio-item__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                </div>
            </div> <!-- end column -->
            <div class="column" data-aos="fade-up">
                <div class="folio-item">
                    <div class="folio-item__thumb">
                        <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-music-life.jpg" title="Music Life" data-size="1050x700">
                            <img src="images/portfolio/music-life.jpg" 
                                 srcset="images/portfolio/music-life.jpg 1x, images/portfolio/music-life@2x.jpg 2x" alt="">
                        </a>
                    </div>
                    <div class="folio-item__info">
                        <div class="folio-item__cat">Frontend Design</div>
                        <h4 class="folio-item__title">Music Life</h4>
                    </div>
                    <a href="https://www.behance.net/" title="Project Link" class="folio-item__project-link">Project Link</a>
                    <div class="folio-item__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                </div>
            </div> <!-- end column -->
            <div class="column" data-aos="fade-up">
                <div class="folio-item">
                    <div class="folio-item__thumb">
                        <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-oi-logo.jpg" Title="OI Logo" data-size="1050x700">
                            <img src="images/portfolio/oi-logo.jpg.jpg" 
                                 srcset="images/portfolio/oi-logo.jpg 1x, images/portfolio/oi-logo@2x.jpg 2x" alt="">
                        </a>
                    </div>
                    <div class="folio-item__info">
                        <div class="folio-item__cat">Branding</div>
                        <h4 class="folio-item__title">OI Logo</h4>
                    </div>
                    <a href="https://www.behance.net/" title="Project Link" class="folio-item__project-link">Project Link</a>
                    <div class="folio-item__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                </div>
            </div> <!-- end column -->
            <div class="column" data-aos="fade-up">
                <div class="folio-item">
                    <div class="folio-item__thumb">
                        <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-corrugated-sheets.jpg" title="Corrugated Sheets" data-size="1050x700">
                            <img src="images/portfolio/corrugated-sheets.jpg" 
                                 srcset="images/portfolio/corrugated-sheets.jpg 1x, images/portfolio/corrugated-sheets@2x.jpg 2x" alt="">
                        </a>
                    </div>
                    <div class="folio-item__info">
                        <div class="folio-item__cat">Frontend Design</div>
                        <h4 class="folio-item__title">Corrugated Sheets</h4>
                    </div>
                    <a href="https://www.behance.net/" title="Project Link" class="folio-item__project-link">Project Link</a>
                    <div class="folio-item__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                </div>
            </div> <!-- end column -->
            <div class="column" data-aos="fade-up">
                <div class="folio-item">
                    <div class="folio-item__thumb">
                        <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-woodcraft.jpg" title="Sand Dunes" data-size="1050x700">
                            <img src="images/portfolio/woodcraft.jpg" 
                                 srcset="images/portfolio/woodcraft.jpg 1x, images/portfolio/woodcraft@2x.jpg 2x" alt="">
                        </a>
                    </div>
                    <div class="folio-item__info">
                        <div class="folio-item__cat">Frontend Design</div>
                        <h4 class="folio-item__title">Wooocraft</h4>
                    </div>
                    <a href="https://www.behance.net/" title="Project Link" class="folio-item__project-link">
                        Project Link
                    </a>
                    <div class="folio-item__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                </div>
            </div> <!-- end column -->
            <div class="column" data-aos="fade-up">
                <div class="folio-item">
                    <div class="folio-item__thumb">
                        <a class="folio-item__thumb-link" href="images/portfolio/gallery/g-lamp.jpg" title="The Lamp" data-size="1050x700">
                            <img src="images/portfolio/lamp.jpg" 
                                 srcset="images/portfolio/lamp.jpg 1x, images/portfolio/lamp@2x.jpg 2x" alt="">
                        </a>
                    </div>
                    <div class="folio-item__info">
                        <div class="folio-item__cat">Frontend Design</div>
                        <h4 class="folio-item__title">The Lamp</h4>
                    </div>
                    <a href="https://www.behance.net/" title="Project Link" class="folio-item__project-link">Project Link</a>
                    <div class="folio-item__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>
                </div>
            </div> <!-- end column -->

        </div> <!-- folio-list -->

    </section> <!-- end s-portfolio -->



    <!-- contact
    ================================================== -->
    <section class="s-contact">

        <div class="row narrower s-contact__top h-text-center">
            <div class="column">
                <h3 class="h6">Get In Touch</h3>
                <h1 class="display-1">
                Have an idea or an epic project in mind? Talk to
                us. Let us work together as a team , Drop us a email below
                </h1>
            </div>
        </div> <!-- s-footer__top -->

        <div class="row h-text-center">
            <div class="column">
                <p class="s-contact__email">
                    <a href="">csi@sfit.ac.in</a>
                </p>
            </div>
        </div>

    </section>  <!-- end s-contact -->
{% endblock content %}
{% block footend %}

{% endblock footend %}

</body>

</html>