{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">



    <!-- hero
    ================================================== -->
    <section id="hero" class="s-hero target-section">

        <div class="s-hero__bg">
            <div class="gradient-overlay"></div>
        </div>

        <div class="row s-hero__content">
            <div class="column">

                <h1>CSI SFIT</h1>
                <div class="s-hero__content-about">

                    <h2 data-aos="left" class="tranparent"># <span class="type"></span>
                    <br> </h2>
    
                
                </div>

            </div>
        </div>

        

        <div class="s-hero__scroll">
            <a href="#about" class="s-hero__scroll-link smoothscroll">
                Scroll Down
            </a>
        </div>

    </section> <!-- end s-hero -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about">

        <div class="horizontal-line"></div>

        <div class="row">
            <div class="column large-12">

                <div class="section-title" data-num="01" data-aos="fade-up">
                    <h3 class="h6">Who We Are</h3>
                </div>

            </div>

            <div class="column large-12 w-900-stack s-about__intro-text">
                <h1 class="display-1 vi" data-aos="fade-up">
                   CSI-SFIT
                </h1>

                <p class="lead" data-aos="fade-up">
                    CSI is the largest and one of the most professionally managed associations of India for CS and IT professionals. CSI SFIT, since its inception, has proven to be a great source of knowledge by providing hands-on technical training and has worked towards the goal of transforming students into technical and competent professionals.  <br> 
                     It conducts events such as technical workshops, informative seminars, conferences, industry-academia interactions, technical competitions, student initiative programs and industrial visits which prove to be a gateway to technical expertise.
                     
                     

                </p>

                <p class="lead" data-aos="fade-up">
                    CSI SFIT aims to lay a foundation for the refinement of technical inventiveness among young technocratic skills that will promote originality among budding engineers down the path for professional development. CSI SFIT since its inception year 2002, has proven to be a great source of knowledge by providing hands-on technical training and transforming students into competent professionals. <br>
                     In each academic, CSI SFIT conducts numerous workshops, seminars, conferences, industry-academia interactions, competitions, student initiative programs and industrial visits which prove to be a gateway to technical expertise.
                </p>
            </div>

           
            </div>
        </div>


    </section> <!-- end s-about -->


   

    <section id="portfolio" class="s-portfolio">

        <div class="row s-porfolio__top">
            <div class="column large-6 w-900-stack">
                <div class="section-title" data-num="03" data-aos="fade-up">
                    <h3 class="h6">Recent Works</h3>
                </div>
            </div>
            <div class="column large-6 w-900-stack">
                <h1 class="display-1" data-aos="fade-up">
                    Here are some of our projects we done lately. Feel
                    free to check them out.
                </h1>
            </div>
             
        </div> <!-- end s-portfolio__top-->


    </section> <!-- end s-portfolio -->


    <section id="portfolio" class="s-portfolio">
        <h2 class="vi" style="text-align: center;padding-bottom: 50px;">Our vision</h2> 
        <div class="row s-porfolio__top">
            <div class="column large-6 w-900-stack">
                <img class="vision" src={% static '/images/vision/vision_1.png' %} alt="Team Image">
            </div>
            <div class="column large-6 w-900-stack">
                <h2  class="display-1" data-aos="fade-up">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga non, magnam dolore blanditiis soluta atque seq
                </h2>
            </div>
             
        </div> <!-- end s-portfolio__top-->


    </section> <!-- end s-portfolio -->

    
    <section id="portfolio" class="s-portfolio">

        <div class="row s-porfolio__top">
            <div class="column large-6 w-900-stack">
                <h2  class="display-1" data-aos="fade-up">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga non, magnam dolore blanditiis soluta atque seq
                </h2>
            </div>
            
            <div class="column large-6 w-900-stack">
                <img class="vision" src={% static '/images/vision/vision_1.png' %} alt="Team Image">
            </div>
            
             
        </div> <!-- end s-portfolio__top-->


    </section> <!-- end s-portfolio -->

    <section id="portfolio" class="s-portfolio">
        <div class="row s-porfolio__top">
            <div class="column large-6 w-900-stack">
                <img class="vision" src={% static '/images/vision/vision_1.png' %} alt="Team Image">
            </div>
            <div class="column large-6 w-900-stack">
                <h2  class="display-1" data-aos="fade-up">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga non, magnam dolore blanditiis soluta atque seq
                </h2>
            </div>
             
        </div> <!-- end s-portfolio__top-->
</section>
            <section id="portfolio" class="s-portfolio">

                <div class="row s-porfolio__top">
                    <div class="column large-6 w-900-stack">
                        <h2  class="display-1" data-aos="fade-up">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga non, magnam dolore blanditiis soluta atque seq
                        </h2>
                    </div>
                    
                    <div class="column large-6 w-900-stack">
                        <img class="vision" src={% static '/images/vision/vision_1.png' %} alt="Team Image">
                    </div>
                    
                     
                </div> <!-- end s-portfolio__top-->
        
   
            </section> <!-- end s-portfolio -->
             
     
    <!-- contact
    ================================================== -->
    <section class="s-contact">

        <div class="row narrower s-contact__top h-text-center">
            <div class="column">
                <h3 class="h6">Get In Touch</h3>
                <h1 class="display-1">
                Have an idea or an epic project in mind? Talk to
                us. Let us work together as a team , Drop us a email below
                </h1>
            </div>
        </div> <!-- s-footer__top -->

        <div class="row h-text-center">
            <div class="column">
                <p class="s-contact__email">
                    <a href="">csi@sfit.ac.in</a>
                </p>
            </div>
        </div>

    </section>  <!-- end s-contact -->
{% endblock content %}
{% block footend %}

{% endblock footend %}

</body>

</html>