{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

    <section style="padding-bottom:1px">

        

        <div>
           <h1>             </h1>
        </div>


        
    </section> 
    <section >

        

        <div>
           <h1>             </h1>
        </div>


        
    </section><!-- end s-hero -->


    <!-- hero
    ================================================== -->
    
    

<section id="posts" style="padding-top:40px;">
    <!-- Place <div> tag where you want the feed to appear -->
    <div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered
            by Curator.io</a></div>
    <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
    <script type="text/javascript">
        /* curator-feed-default-feed-layout */
        (function () {
            var i, e, d = document, s = "script"; i = d.createElement("script"); i.async = 1;
            i.src = "https://cdn.curator.io/published/0c3e952b-c472-4ebb-9574-c17b9ff2e96a.js";
            e = d.getElementsByTagName(s)[0]; e.parentNode.insertBefore(i, e);
        })();
    </script>
</section>
  



{% endblock content %}
{% block footend %}
{% endblock footend %}


</body>

</html>