{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "\css\events.css"%}">

    <style>
         @media screen and (max-width: 400px){
	.s-hero__content h1 {
            font-size:60px;
			margin-top: 0px;
			position: relative;
			bottom: 100px;
        }
		#posts{
	       margin-top: 100px;
           position: relative;
           bottom: 200px;
           background-color: black;
		}
    }
    </style>
</head>
<!-- hero
    ================================================== -->
    <section id="hero" class="s-hero target-section">

        <div class="s-hero__bg">
            <div class="gradient-overlay"></div>
        </div>

        <div class="row s-hero__content social">
            <div class="column">

                <h1 class="social">CSI Instagram Posts</h1>
                <div class="s-hero__content-about">

                    
    
                </div>

            </div>
        </div>


        <div class="s-hero__scroll">
            <a href="#about" class="s-hero__scroll-link smoothscroll">
                Scroll Down
            </a>
        </div>

    </section> <!-- end s-hero -->
   


    <!-- hero
    ================================================== -->
    
    

<section id="posts" >
    <!-- Place <div> tag where you want the feed to appear -->
    <div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered
            by Curator.io</a></div>
    <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
    <script type="text/javascript">
        /* curator-feed-default-feed-layout */
        (function () {
            var i, e, d = document, s = "script"; i = d.createElement("script"); i.async = 1;
            i.src = "https://cdn.curator.io/published/0c3e952b-c472-4ebb-9574-c17b9ff2e96a.js";
            e = d.getElementsByTagName(s)[0]; e.parentNode.insertBefore(i, e);
        })();
    </script>
</section>

    <!-- Java Script
    ================================================== -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/main.js"></script>
{% endblock content %}
{% block footend %}

{% endblock footend %}
</body>

</html>