{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <link rel="stylesheet" href="{% static "\css\evesingle.css"%}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body id="top">
    <div>
        <h3 class="eve-name" style=" text-decoration: underline; text-decoration-color: red ; text-underline-offset: 2px;">
            {{previousEvent.title}}</h3>
        {%if previousEvent.images.all%}
        <div class="swiper mySwiper" data-swiper-autoplay="2000">
            <div class="swiper-wrapper">
                {% for image in previousEvent.images.all %}
                <div class="swiper-slide"> <img src={{image.image.url}} alt="Team Image"> </div>
                {%endfor%}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        {%endif%}
    </div>
    <div class="container">
      
        <div id="content1">
<div>
    <p class="info1">Date And Time</p>
    <p class="info"><time datetime="2020-05-25 12:00:00">
        <i class="fas fa-calendar-alt mr-2"></i>  {{ previousEvent.date|date:"d M Y" }}, {{ previousEvent.date|time:"h:i A" }}
    </time></p>
</div>
        </div>
        <div id="content2">
            <div>
                <p class="info1">Conducted By</p>
                <p class="info">CSI SFIT</p>
            </div>
        </div>
        <div id="content3">
            <div>
                <p class="info1">Venue</p>
                <p class="info">Google Meet</p>
            </div>
        </div>
       
      </div>
    
    <div class="desc_p">
        <p class="des-para" >{{previousEvent.content}}
        </p>
     </div>


 


    <section>

        
        <!-- Swiper -->
    
    </section>
    <!-- Java Script
    ================================================== -->
    <script src="../typed.js"></script>
    <script>
        var typed = new Typed('.type', {
    strings: [' makeIThappen ', ' makeIThappen ','makeIThappen'],
    typeSpeed: 60,
    backSpeed: 60,
    loop: true,
  });
  

    </script>
  

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  
   <!-- Swiper JS -->
   <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

   <!-- Initialize Swiper -->
   <script>
     var swiper = new Swiper(".mySwiper", {
       navigation: {
         nextEl: ".swiper-button-next",
         prevEl: ".swiper-button-prev",
       },
     });
   </script>
{% endblock content %}
{% block footend %}

{% endblock footend %}
</body>

</html>