<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
{% load static %}
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>CSI SFIT</title>
    <link rel="icon" type="image/x-icon" href="{% static "images\favicon\Logo.png" %}">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <!-- CSS
    ================================================== -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "\css\teams.css"%}">
    <link rel="stylesheet" href="{% static "\css\vendor.css"%}">
    

    <!-- script
    ================================================== -->
   <script defer src="{%static "js/fontawesome/all.min.js"%}"></script>
    <script src="{%static "js/modernizr.js"%}"></script>
      <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <!--     <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"> -->
    <link rel="manifest" href="site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="s-header__logo">
            <a href="/">
                <h2 id="navbar-logo" style="font-family: 'DaggerSquare';margin-top: 51px;padding-right: 10px;font-size: 27px;transform: scale(1.2, 1);position: relative;bottom: 23px;">CSI SFIT</h2>
            </a>
        </div>

        <div class="s-header__content">
    
            <nav class="s-header__nav-wrap">
                <ul class="s-header__nav">
                    <li><a class=" hvr-underline-from-center" href="/" title="Intro">Home</a></li>
                    <li><a class=" hvr-underline-from-center" href="/aboutus/" title="About">About Us</a></li>
                    <li><a class=" hvr-underline-from-center" href="/teams21/" title="Services">Teams</a></li>
                    <li><a class=" hvr-underline-from-center" href="/events/" title="Events">Events</a></li>
                    <li><a class=" hvr-underline-from-center" href="/csi_show/" title="Works">CSI Show</a></li>
                    <li><a class=" hvr-underline-from-center" href="/magazines/" title="Works">Magazines</a></li>
                    <li><a class=" hvr-underline-from-center" href="/posts/" title="Works">Posts</a></li>
                </ul>
            </nav>  <!-- end s-header__nav-wrap -->

            <a href="https://linktr.ee/CSI_SFIT" target="_blank" class="btn btn--primary btn--small">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z"/></svg>
                Contact us
            </a>

        </div> <!-- end header-content -->

        <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->


    <!-- hero
    ================================================== -->
    <section id="hero" class="s-hero target-section">
        <div class="s-hero__bg">
            <div class="gradient-overlay"></div>
        </div>
        <div >
            <h1 class="nteam">Our Team</h1>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Team 2019-20 <i class="fas fa-chevron-down"></i></button>
            <div class="dropdown-content">
                <a href="/teams21/">Team 2021-22</a>
                <a href="/teams/">Team 2020-21</a>
                <a href="#">Team 2019-20</a>
            </div>
        </div> 

    </section> <!-- end s-hero -->

<section>
    
</section>
<section class="cor">
      <!-- Team #3 Start -->
      <div class="container" data-aos="fade-up" data-aos-offset="300">
        <div class="section-title">
            <h1 class="mid-text" data-aos="fade-up" data-aos-offset="300">Co-ordinators</h1>
        </div>
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/shamsuddin.png"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-tw" href="https://www.linkedin.com/in/shamsuddin-salauddin-b3444160/"  target ="_blank" ><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-fb" href="mailto:shamsuddinkhan@sfit.ac.in" 
                            target ="_blank"><i class="fas fa-envelope"></i></i></a>
                            <a class="social-li" href="https://www.sfit.ac.in/faculty-profile.php?id=59"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr.Shamsuddin Salauddin </h2>
                        <h2>Coordinator</h2>
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/amrita.png"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-tw" href="https://www.linkedin.com/in/amrita-mathur-1564141a3/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-fb" href="mailto:amritamathur@sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                            <a class="social-li" href="https://www.sfit.ac.in/faculty-profile.php?id=118"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mrs. Amrita Mathur<br>
                         <h2>Coordinator</h2>
                    </div>
                </div>
            </div>
        </div>    
      </div>  
        </section> 
    <!-- Team #3 End -->
    <section>
        <!-- Team #3 Start -->
        <div class="container core" data-aos="fade-up" data-aos-offset="300">
          <div class="section-title">
              <h1 class="mid-text">Our Team</h1>
          </div>
          
          <div class="row">
              <div class="column mx-auto">
                  <div class="team-3">
                      <div class="team-img">
                          <img src={%static "/images/Team_2019-2020/jayashree.jpg"%} alt="Team Image">
                          <div class="team-social">
                              <a class="social-tw" href="https://twitter.com/DomalaJayashree" target="_blank" rel="noreferrer"><i class="fab fa-twitter"></i></a>
                              <a class="social-li" href="https://www.linkedin.com/in/jayashree-domala8/" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                              <a class="social-li" href="https://github.com/jayashree8" target="_blank" rel="noreferrer"><i class="fab fa-github"></i></a>
                              <a class="social-li" href="https://medium.com/@jayashree8" target="_blank" rel="noreferrer"><i class="fab fa-medium"></i></a>
                              <a class="social-fb" href="mailto:domalajayashree@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                          </div>
                      </div>
                      <div class="team-content">
                        <h2>Ms. Jayashree Domala <br>
                         <h2>ChairPerson</h2>
                      </div>
                  </div>
              </div>
              <div class="column mx-auto">
                  <div class="team-3">
                      <div class="team-img">
                          <img src={%static "/images/Team_2019-2020/niharika-core.JPG"%} alt="Team Image">
                          <div class="team-social">
                          </div>
                      </div>
                      <div class="team-content">
                        <h2>Ms. Niharika Walke<br>
                         <h2>Vice-ChairPerson</h2>
                          
                      </div>
                  </div>
              </div>
          </div>    
        </div>  
          </section> 

<section>
    <!--trial--> 
    <div class="container" data-aos="fade-up" data-aos-offset="300">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/sanket.JPG"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-li" href="https://github.com/sank8dalvi" target="_blank" rel="noreferrer"><i class="fab fa-github"></i></a>
                            <a class="social-tw" href="https://twitter.com/sank8dalvi" target="_blank" rel="noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/in/sank8dalvi" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-fb" href="mailto:sanket.dalvi.ssd@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Sanket Dalvi<br>
                         <h2>General Secretary</h2>
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/treasurer.JPG"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-li" href="https://www.linkedin.com/in/komal-torlikonda-9057b813b" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-fb" href="mailto:tkomal999@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms. Komal Torlikonda<br>
                         <h2>Treasurer</h2>
                    </div>
                </div>
            </div>
            <!-- <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src="../Team_2020-2021/AniketSuvarna_@aniket_suvarna.jpg" alt="Team Image">
                        <div class="team-social">
                            <a class="social-in" href="https://github.com/aniket-suvarna"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:aniket.suvarna0810@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Aniket<br>
                            <h3 class="comt1">Suvarna</h3> 
                         <h2>Photographer</h2>
                        
                    </div>
                </div>
            </div> -->
           
        </div> 
    </div>

</section>
    
<section>
    <!--trial--> 
    <div class="container" data-aos="fade-up" data-aos-offset="300">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/shivam.JPG"%} alt="Team Image">
                        <div class="team-social">

                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Shivam Sinha<br>
                         <h2>Tech Head</h2>
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/liza.JPG"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-tw" href="https://twitter.com/LizaFernandes18?s=08" target="_blank" rel="noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="social-fb" href="mailto:fernandesliza5@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms. Liza Fernandes<br>
                         <h2>Publicity Head</h2>
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/anshul.JPG"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-li" href="https://www.linkedin.com/in/anshul99/" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-fb" href="mailto:anshuldeodia02@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Anshul Deodia<br>
                         <h2>Creative Head</h2>
                    </div>
                </div>
            </div>
           
        </div> 
    </div>

</section>

<section>
    <!--trial--> 
    <div class="container" data-aos="fade-up" data-aos-offset="300">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/mohan.JPG"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-tw" href="https://twitter.com/immohann" target="_blank" rel="noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/in/manmohan-dogra-4a6655169/" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-li" href="https://github.com/immohann" target="_blank" rel="noreferrer"><i class="fab fa-github"></i></a>
                            <a class="social-li" href="https://medium.com/@immohann" target="_blank" rel="noreferrer"><i class="fab fa-medium"></i></a>
                            <a class="social-fb" href="mailto:mohanqwerty5@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Manmohan Dogra<br>
                         <h2>Joint Tech Head</h2>
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/jenny.JPG"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-tw" href="https://twitter.com/jennydcruz22" target="_blank" rel="noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/in/jennydcruz/" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-yt" href="https://www.youtube.com/channel/UC0m4nW2hemIb79fTB-EV5qQ" target="_blank" rel="noreferrer"><i class="fab fa-youtube"></i></a>
                            <a class="social-li" href="https://github.com/jendcruz22" target="_blank" rel="noreferrer"><i class="fab fa-github"></i></a>
                            <a class="social-li" href="https://jendcruz23.medium.com/" target="_blank" rel="noreferrer"><i class="fab fa-medium"></i></a>
                            <a class="social-fb" href="mailto:jendcruz23@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms. Jenny <br> Dcruz<br>
                         <h2>Joint Tech Head</h2>
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/shivani.JPG"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-li" href="https://www.linkedin.com/in/shivani-raul-9328791a7/" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-li" href="https://github.com/shivani-raul" target="_blank" rel="noreferrer"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:shivani6999@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms. Shivani <br> Raul </h2>
                         <h2>Joint Creative Head</h2>
                    </div>
                </div>
            </div>
        </div> 
    </div>

</section>

<section>
    <!--trial--> 
    <div class="container" data-aos="fade-up" data-aos-offset="300">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/niharika.JPG"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-li" href="http://www.linkedin.com/in/niharika-pattabhi-3153181b5"><i class="fab fa-linkedin-in"></i></a>
                              <a class="social-in" href="https://github.com/niharikapattabhi"><i class="fab fa-github"></i></a>
                              <a class="social-yt" href="https://www.youtube.com/channel/UCDCJPzNnCa10vYuHqAjloGQ"><i class="fab fa-youtube"></i></a>
                              <a class="social-fb" href="mailto:niharika.pattabhi@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms. Niharika Pattabhi </h2>
                        <h2>Tech Executive </h2>
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/delicia.jpeg"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-tw" href="https://twitter.com/fernsdelicia" target="_blank" rel="noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/in/deliciafernandes/" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-li" href="https://github.com/deliciafernandes" target="_blank" rel="noreferrer"><i class="fab fa-github"></i></a>
                            <a class="social-li" href="https://medium.com/@fernandesdelicia07/about" target="_blank" rel="noreferrer"><i class="fab fa-medium"></i></a>
                            <a class="social-fb" href="mailto:fernandesdelicia07@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms. Delicia Fernandes</h2>
                        <h2>PR Executive </h2>
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/priya.jpg"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-tw" href="https://twitter.com/Priya0641" target="_blank" rel="noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/mwlite/in/priya-ratanghayra-4746a11b2" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-fb" href="mailto:priyaratanghayra@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms. Priya Ratangharya</h2>                            
                         <h2>Creative Executive</h2>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>

<section>
    <!--trial--> 
    <div class="container" data-aos="fade-up" data-aos-offset="300">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/jesdin.JPG"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-li" href="https://github.com/jesdin" target="_blank" rel="noreferrer"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:jesdinraphael@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Jesdin <br> Raphel </h2>
                        <h2>Tech Executive</h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/simran.jpeg"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-tw" href="https://twitter.com/simran_dadhich" target="_blank" rel="noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/in/simran-dadhich-91ab791b1/" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-li" href="https://github.com/Simran2147" target="_blank" rel="noreferrer"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:simrandadhich88@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms. Simran dadhich</h2>                        
                        <h2>PR Executive </h2>
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/gaurav.jpg"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-li" href="https://www.linkedin.com/mwlite/in/gaurav-suvarna-2055" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href="https://instagram.com/graphics_surreal" target="_blank" rel="noreferrer"><i class="fab fa-instagram"></i></a>
                            <a class="social-li" href="https://github.com/gaurav2055" target="_blank" rel="noreferrer"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:gauravs712118@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Gaurav Suvarna </h2>
                        <h2>Creative Executive </h2>
                    </div>
                </div>
            </div>
           
        </div> 
    </div>

</section>

<section>
    <!--trial--> 
    <div class="container" data-aos="fade-up" data-aos-offset="300">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/harsh.JPG"%} alt="Team Image">
                        <div class="team-social">
                           
                            <a class="social-tw" href="https://twitter.com/HarshOza12" target="_blank" rel="noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/in/harsh-oza-6b75a7171" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-li" href="https://github.com/jayashree8" target="_blank" rel="noreferrer"><i class="fab fa-github"></i></a>
                            <a class="social-li" href="https://medium.com/@jayashree8" target="_blank" rel="noreferrer"><i class="fab fa-medium"></i></a>                      
                            <a class="social-fb" href="mailto:harshoza36@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Harsh <br>Oza </h2>
                        <h2>Tech Executive </h2>
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/manav.jpg"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-li" href="https://www.linkedin.com/in/manav-parekh-bb174a197/" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-fb" href="mailto:manavparekh572000@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Manav Parekh</h2>
                        <h2>PR Executive </h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/akshat.JPG"%} alt="Team Image">
                        <div class="team-social">
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Akshat Bhagat</h2>
                         <h2> Creative Executive</h2>
                        
                    </div>
                </div>
            </div>
           
        </div> 
    </div>

</section>

<section>
    <!--trial--> 
    <div class="container" data-aos="fade-up" data-aos-offset="300">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/jhanvi.JPG"%} alt="Team Image">
                        <div class="team-social">
                            
                            <a class="social-li" href="https://www.linkedin.com/in/janhvi-shah-4a29a7192" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-li" href="https://github.com/Janhvishah" target="_blank" rel="noreferrer"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:janhvishah29@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms. Janavi <br> Shah </h2>
                        <h2>Tech Executive </h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/darrel.JPG"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-li" href="https://in.linkedin.com/in/darrel-noronha-587627190" target="_blank" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-li" href="https://github.com/darrelnoronha" target="_blank" rel="noreferrer"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:darrelnoronha@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Darrel Noronha </h2>
                        <h2>PR Executive </h2>
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/madhura.JPG"%} alt="Team Image">
                        <div class="team-social">
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms. Madhura Angchekar </h2>
                         <h2> Creative Executive</h2>
                        
                    </div>
                </div>
            </div>
           
        </div> 
    </div>

</section>

<section>
    <!--trial--> 
    <div class="container" data-aos="fade-up" data-aos-offset="300">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/shardul.JPG"%} alt="Team Image">
                        <div class="team-social">
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Shardul Wavwal </h2>
                        <h2>Tech Executive </h2>                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/mandar.JPG"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-fb" href="mailto:mandarangchekar7@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Mandar Angchekar </h2>
                        <h2>PR Executive</h2>
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2019-2020/shruti.JPG"%} alt="Team Image">
                        <div class="team-social">
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms. Shruti <br> Gupta </h2>                            
                         <h2> Creative Executive</h2>
                    </div>
                </div>
            </div>
           
        </div> 
    </div>

</section>
<footer class="s-footer">
    <div class="row1 row-y-top">

        <div class="column1 large-8 medium-12">
            <div class="row1">
                <div class="column1 large-10 tab-12 s-footer__block">
                    <h4 class="h6">Where to Find Us</h4>

                    <p style="font-size:2.5rem;">
                        <i class="fas icon fa-university hvr-underline-reveal"></i>   St.Francis institute of technology
                        <br>
                        <i class="fas icon fa-map-marked-alt"></i>   Mount Poinsur, S.V.P. Road, Borivali (West), Mumbai
                        400 103 <br>
                        <a href="mailto:csi@sfit.ac.in" target="_blank"><i class="fas icon fa-envelope"></i>   csi@sfit.ac.in</a><br>
                        <i class="fas icon fa-phone-volume"> </i> 022-28954787

                    </p>
                </div>

                <div class="column1 large-10 tab-12 s-footer__block">
                    <h4 class="h6">Follow Us</h4 class="h6">

                    <ul class="social-i">
                        <a target="_blank" href="https://github.com/CSI-SFIT">
                            <span class="fa-stack fa-2x" style="width:50px;height:50px;">
                                <i class="fas fa-circle fa-stack-2x" style="color:#171515;height: 50px;width: 50px;" onMouseOver="this.style.color='#303030'" onMouseOut="this.style.color='#171515'"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse" style="margin: auto;height:25px;width:25px;"></i>
                            </span>
                        </a> 
                        <a target="_blank" href="https://www.instagram.com/csi_sfit">
                            <span class="fa-stack fa-2x" style="width:50px;height:50px;">
                              <i class="fas fa-circle fa-stack-2x" onMouseOver="this.style.background='#C13584'" onMouseOut="this.style.background='radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)'" style="height: 50px;width: 50px;border-radius:50%;color:transparent;background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);"></i>
                              <i class="fab fa-instagram fa-inverse fa-stack-1x" style="margin: auto;height:25px;width:25px;"></i>
                            </span>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/company/csi-sfit/">
                            <span class="fa-stack fa-2x" style="width:50px;height:50px;">
                              <i class="fas fa-circle fa-stack-2x" style="color:#2867B2;" onMouseOver="this.style.color='#008fdd'" onMouseOut="this.style.color='#2867B2'"></i>
                              <i class="fab fa-linkedin-in fa-stack-1x fa-inverse" style="margin: auto;height:25px;width:25px;"></i>
                            </span>
                        </a>
                        <a target="_blank" href="https://www.youtube.com/channel/UC7fiMWl2n3BXDQCKk3blUMA">
                            <span class="fa-stack fa-2x" style="height: 50px;width: 50px">
                              <i class="fas fa-circle fa-stack-2x" style="color:#FF0000; height: 50px;width: 50px;" onMouseOver="this.style.color='#cc181e'" onMouseOut="this.style.color='#FF0000'"></i>
                              <i class="fab fa-youtube fa-stack-1x fa-inverse" style="margin: auto;height:25px;width:25px;"></i>
                            </span>
                        </a>
                        <a target="_blank" href="https://discord.gg/aJBAje32jU">
                            <span class="fa-stack fa-2x" style="height: 50px;width: 50px">
                              <i class="fas fa-circle fa-stack-2x" style="color:#738ADB; height: 50px;width: 50px;" onMouseOver="this.style.color='#b4c0eb'" onMouseOut="this.style.color='#738ADB'"></i>
                              <i class="fab fa-discord fa-stack-1x fa-inverse" style="margin: auto;height:25px;width:25px;"></i>
                            </span>
                        </a>
                        <a target="_blank" href="mailto:csi@sfit.ac.in">
                            <span class="fa-stack fa-2x" style="height: 50px;width: 50px">
                              <i class="fas fa-circle fa-stack-2x" style="color:white; height: 50px;width: 50px;" onMouseOver="this.style.color='#d4d4d4'" onMouseOut="this.style.color='white'"></i>
                              <!-- <i class="fas fa-envelope-square fa-stack-1x fa-inverse" style="margin: auto;height:25px;width:25px;"></i> -->
                              <span class="iconify fa-stack-1x" data-icon="logos:google-gmail" style="margin: auto;height:25px;width:25px;"></span>
                            </span>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="column large-4 medium-12 s-footer__block--end">
            <a href="https://linktr.ee/CSI_SFIT" target="_blank" class="btn h-full-width"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path
                        d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z" />
                </svg>
                Contact Us</a>

            <div class="ss-copyright">
                <span>© 2021 Copyright: CSI SFIT</span>
            </div>
            <div class="ss-copyright">
            <span> Website by: 
                <br><a href="https://www.linkedin.com/in/varun-patkar/">Varun Anand Patkar</a>
            <br>
                <a href="https://www.linkedin.com/in/vedant-kadam-412021204/">Vedant Kadam</a>
            <br>
                <a href="https://www.linkedin.com/in/parbat-singh-8b9305218/">Parbatsingh Rajpurohit</a>
            <br>
            </span>
            </div>
        </div>

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#hero">
                <i class="fas fa-arrow-up"></i>
            </a>
        </div> <!-- end ss-go-top -->

    </div>
</footer>





<!-- Java Script
    ================================================== -->
<script src="{%static 'js/typed.js'%}"></script>
<script>
    var typed = new Typed('.type', {
        strings: [' makeIThappen ', ' makeIThappen ', 'makeIThappen'],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true,
    });


</script>
<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<script src="{%static 'js/jquery-3.2.1.min.js'%}"></script>
<script src="{%static 'js/plugins.js'%}"></script>
<script src="{%static 'js/main.js'%}"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>



   
  

</body>

</html>