<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
{% load static %}

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>CSI SFIT</title>
    <link rel="icon" type="image/x-icon" href="{% static "images\favicon\Logo.png" %}">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <!-- CSS
    ================================================== -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "\css\teams.css"%}">
    <link rel="stylesheet" href="{% static "\css\vendor.css"%}">
    

    <!-- script
    ================================================== -->
    <script defer src="{%static "js/fontawesome/all.min.js"%}"></script>
    <script src="{%static "js/modernizr.js"%}"></script>
      <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href={%static "apple-touch-icon.png" %}>
<!--     <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"> -->
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="s-header__logo">
            <a href="/">
                <h2 id="navbar-logo" style= "font-family: 'DaggerSquare';margin-top: 0px;padding-right: 10px;font-size:30px; padding-top: 45px;">CSI SFIT</h2>
            </a>
        </div>

        <div class="s-header__content">
    
            <nav class="s-header__nav-wrap">
                <ul class="s-header__nav">
                    <li><a class=" hvr-underline-from-center" href="/" title="Intro">Home</a></li>
                    <li><a class=" hvr-underline-from-center" href="/aboutus/" title="About">About</a></li>
                    <li><a class=" hvr-underline-from-center" href="/teams21/" title="Services">Teams</a></li>
                    <li><a class=" hvr-underline-from-center" href="/events/" title="Events">Events</a></li>
                    <li><a class=" hvr-underline-from-center" href="/csi_show/" title="Works">CSI Show</a></li>
                    <li><a class=" hvr-underline-from-center" href="/magazines/" title="Works">Magazines</a></li>
                    <li><a class=" hvr-underline-from-center" href="/posts/" title="Works">Posts</a></li>
                </ul>
            </nav>  <!-- end s-header__nav-wrap -->

            <a href="https://linktr.ee/CSI_SFIT" target="_blank" class="btn btn--primary btn--small">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z"/></svg>
                Contact us
            </a>

        </div> <!-- end header-content -->

        <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->


    <!-- hero
    ================================================== -->
    <section id="hero" class="s-hero target-section">

       

        <div >
            

                <h1 class="nteam">Our Team</h1>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Team 2020-21 <i class="fas fa-chevron-down"></i></button>
                    <div class="dropdown-content">
                    <a href="/teams21/">Team 2021-22</a>
                    <a href="#">Team 2020-21</a>
                    <a href="/teams19/">Team 2019-20</a>
                    </div>
                  </div> 

    </section> <!-- end s-hero -->

<section>
    
</section>
<section class="cor">
      <!-- Team #3 Start -->
      <div class="container">
        <div class="section-title">
            <h1 class="mid-text">Co-ordinators</h1>
        </div>
        
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src="{%static "/images/Team_2020-2021/AmritaMathur_@toamritamathur.png" %}" alt="Team Image">
                        <div class="team-social">
                            <a class="social-tw" href="https://www.linkedin.com/in/amrita-mathur-1564141a3/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-fb" href="mailto:amritamathur@sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                            <a class="social-li" href="https://www.sfit.ac.in/faculty-profile.php?id=118"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mrs. Amrita <br>
                            <h3 class="comt1">Mathur</h3> 
                         <h2>Coordinator</h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src="{%static "/images/Team_2020-2021/Anuradha.Srinivasaraghavan.png" %}" alt="Team Image">
                        <div class="team-social">
                            <a class="social-tw" href="https://www.linkedin.com/in/anuradha-srinivasaraghavan-83b30242/"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a class="social-fb"
                                href="https://mail.google.com/mail/u/0/#inbox?compose=VpCqJZMXtDrmVNhczfcrjWwFnbtgFkVRFKBppPNlPlMxcpZxZDqPjDDPzlxzVSmnmGVshFL"
                                target="_blank"><i class="fas fa-envelope"></i></i></a>
                            <a class="social-li" href="https://www.sfit.ac.in/faculty-profile.php?id=49"><i
                                    class="fas fa-globe"></i></a>
            
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mrs. Anuradha <br>
                            <h3 class="comt">Srinivasaraghavan</h3>
                            <h2>Coordinator</h2>
            
                    </div>
                </div>
            </div>
        </div>    
      </div>  
        </section> 
    <!-- Team #3 End -->
    <section>
        <!-- Team #3 Start -->
        <div class="container core">
          <div class="section-title">
              <h1 class="mid-text">Our Team</h1>
          </div>
          
          <div class="row">
              <div class="column mx-auto">
                  <div class="team-3">
                      <div class="team-img">
                          <img src={%static "/images/Team_2020-2021/DeliciaFernandes_@_deliciafernandes.jpeg"%} alt="Team Image">
                          <div class="team-social">
                              <a class="social-tw" href="https://twitter.com/fernsdelicia"><i class="fab fa-twitter"></i></a>
                              <a class="social-li" href="https://www.linkedin.com/in/deliciafernandes/"><i class="fab fa-linkedin-in"></i></a>
                              <a class="social-in" href="https://github.com/deliciafernandes"><i class="fab fa-github"></i></a>
                              <a class="social-yt" href="https://medium.com/@fernandesdelicia07/about"><i class="fab fa-medium"></i></i></a>
                              <a class="social-fb" href="mailto:fernandesdelicia07@gmail.com"><i class="fas fa-envelope"></i></i></a>
                          </div>
                      </div>
                      <div class="team-content">
                        <h2>Ms. Delicia <br>
                            <h3 class="comt1">Fernandes</h3> 
                         <h2>ChairPerson</h2>
                          
                      </div>
                  </div>
              </div>
              <div class="column mx-auto">
                  <div class="team-3">
                      <div class="team-img">
                          <img src={%static "/images/Team_2020-2021/niharikapattabhi__@nebula_195.jpg"%} alt="Team Image">
                          <div class="team-social">

                              <a class="social-li" href="http://www.linkedin.com/in/niharika-pattabhi-3153181b5"><i class="fab fa-linkedin-in"></i></a>
                              <a class="social-in" href="https://github.com/niharikapattabh"><i class="fab fa-github"></i></a>
                              <a class="social-yt" href="https://www.youtube.com/channel/UCDCJPzNnCa10vYuHqAjloGQ"><i class="fab fa-youtube"></i></a>
                              <a class="social-fb" href="mailto:niharika.pattabhi@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                          </div>
                      </div>
                      <div class="team-content">
                        <h2>Ms. Niharika<br>
                            <h3 class="comt1">Pattabhi</h3> 
                         <h2>Vice-ChairPerson</h2>
                          
                      </div>
                  </div>
              </div>
          </div>    
        </div>  
          </section> 

<section>
    <!--trial--> 
    <div class="container">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/manav_@maaannnaaavvv.jpg"%} alt="Team Image">
                        <div class="team-social">

                            <a class="social-li" href="https://www.linkedin.com/in/manav-parekh-bb174a197/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-fb" href="mailto:manavparekh572000@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Manav<br>
                            <h3 class="comt1">Parekh</h3> 
                         <h2>General Secretary</h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/Gaurav Suvarna@gaurav_2055.jpg"%} alt="Team Image">
                        <div class="team-social">
                            
                            <a class="social-li" href="https://www.linkedin.com/mwlite/in/gaurav-suvarna-2055"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href="https://instagram.com/graphics_surreal"><i class="fab fa-instagram"></i></a>
                            <a class="social-in" href="https://github.com/gaurav2055"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:gauravs712118@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Gaurav<br>
                            <h3 class="comt1">Suvarna</h3> 
                         <h2>Treasurer</h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/AniketSuvarna_@aniket_suvarna.jpg"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-in" href="https://github.com/aniket-suvarna"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:aniket.suvarna0810@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Aniket<br>
                            <h3 class="comt1">Suvarna</h3> 
                         <h2>Photographer</h2>
                        
                    </div>
                </div>
            </div>
           
        </div> 
    </div>

</section>
    
<section>
    <!--trial--> 
    <div class="container">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/SnehModi_@sneh_modi20.jpg"%} alt="Team Image">
                        <div class="team-social">

                            <a class="social-tw" href="https://twitter.com/ModiSneh20"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/in/madnessmodified20/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href="https://www.linkedin.com/in/madnessmodified20/"><i class="fab fa-instagram"></i></a>
                            <a class="social-in" href="https://github.com/SnehModi"><i class="fab fa-github"></i></a>
                            <a class="social-yt" href="https://medium.com/@modisneh20"><i class="fab fa-medium"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Sneh Modi<br>
                          
                         <h2>Tech Head</h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/Puranjay Nayan Potnis_@impuranjayp.jpg"%} alt="Team Image">
                        <div class="team-social">
                            
                            <a class="social-tw" href="https://twitter.com/impuranjayp"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/in/puranjay-potnis/"><i class="fab fa-linkedin-in"></i></a>

                            <a class="social-fb" href="mailto:puranjaypotnis@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr.Puranjay<br>
                            <h3 class="com1t">Potnis</h3> 
                         <h2>Publicity Head</h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/Priya Ratanghayra__priyaratanghayra__.jpg"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-tw" href="https://twitter.com/Priya0641"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/mwlite/in/priya-ratanghayra-4746a11b2"><i class="fab fa-linkedin-in"></i></a>

                            <a class="social-fb" href="mailto:priyaratanghayra@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms.Priya<br>
                            <h3 class="comt1">Ratangharya</h3> 
                         <h2>Creative Head</h2>
                        
                    </div>
                </div>
            </div>
           
        </div> 
    </div>

</section>

<section>
    <!--trial--> 
    <div class="container">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/KaifKohari_@kaif.kohari_.jpg"%} alt="Team Image">
                        <div class="team-social">

                            <a class="social-tw" href="https://twitter.com/kaifkohari10"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/in/kaif-kohari-a34433190/"><i class="fab fa-linkedin"></i></a>
                            <a class="social-in" href="https://github.com/Kaif10"><i class="fab fa-github"></i></a>
                            <a class="social-yt" href="https://kaifkohari10.medium.com/"><i class="fab fa-medium"></i></i></a>
                            
                            <a class="social-fb" href="mailto:kaifkohari10@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr.Kaif Kothari<br>
                          
                         <h2>Joint Tech Head</h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/NipunSaigal2_@nipun_s18.jpg"%} alt="Team Image">
                        <div class="team-social">
                            
                            <a class="social-li" href="https://www.linkedin.com/in/nipun-saigal-0171771b8/"><i class="fab fa-linkedin"></i></a>
                            <a class="social-in" href="https://github.com/Nipun-Saigal"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:nipunsaigal3@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr.Nipun Saigal</h2>
                            <h2>Joint Publicity Head</h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/Mansi Rathod_@mansi_1703.jpg"%} alt="Team Image">
                        <div class="team-social">
                            
                            <a class="social-li" href="https://www.linkedin.com/in/mansi-rathod-919a3a1aa"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href="https://github.com/Mansi1703"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:mansi17rathod@gmail.com"><i class="fas fa-envelope"></i></i></a>
                           
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms.Mansi </h2>
                        <h3 class="comt-1">Rathod</h3>
                            
                         <h2>Joint Creative Head</h2>
                        
                    </div>
                </div>
            </div>
           
        </div> 
    </div>

</section>

<section>
    <!--trial--> 
    <div class="container">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/Varun Patkar_@_Varun.Patkar501.jpg"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-yt" href="https://www.youtube.com/channel/UCMeRjbj4KIPgtEtseiLlBHA"><i class="fab fa-youtube"></i></a>
                            <a class="social-tw" href="https://twitter.com/Varun_Patkar"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/in/varun-patkar/"><i class="fab fa-linkedin"></i></a>
                            <a class="social-in" href="https://github.com/Varun-Patkar"><i class="fab fa-github"></i></a>
                            <a class="social-yt" href="https://medium.com/@varunpatkar501"><i class="fab fa-medium"></i></i></a>
                            
                            <a class="social-fb" href="mailto:kirtipatkar4@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr.Varun </h2>
                        <h3 class="comt-1">Patkar</h3>
                        <h2>Tech Executive </h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/Simran Dadhich_@Simran_2147.jpeg"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-tw" href="https://twitter.com/simran_dadhich"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/in/simran-dadhich-91ab791b1/"><i class="fab fa-linkedin"></i></a>
                            <a class="social-in" href="https://github.com/Simran2147"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:simrandadhich88@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms.Simran </h2>
                        <h3 class="comt-1">Dadhich</h3>
                        <h2>PR Executive </h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/Justin Dsouza_@justin_dsouza1414.jpg"%} alt="Team Image">
                        <div class="team-social">
                            
                            <a class="social-li" href="https://www.linkedin.com/in/justin-dsouza-b07a831b8/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href="https://github.com/07Apollo07"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:jdkd1414@gmail.com"><i class="fas fa-envelope"></i></i></a>
                           
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr.Justin</h2>
                        <h3 class="comt-1">Dsouza</h3>
                            
                         <h2>Creative Executive</h2>
                        
                    </div>
                </div>
            </div>
           
        </div> 
    </div>

</section>

<section>
    <!--trial--> 
    <div class="container">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/EktaMasrani_@_ektaaa___.jpg"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-tw" href="https://twitter.com/MasraniEkta"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/in/ekta-masrani/"><i class="fab fa-linkedin"></i></a>
                            <a class="social-in" href="https://github.com/ekta18"><i class="fab fa-github"></i></a>
                            
                            
                            <a class="social-fb" href="mailto:ektamasrani@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms.Ekta  </h2>
                        <h3 class="comt-1">Masrani</h3>
                        <h2>Tech Executive </h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/Minoli Bagwe_@minolibagwe.jpg"%} alt="Team Image">
                        <div class="team-social">
                          
                           
                            <a class="social-in" href="https://github.com/minolibagwe"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:minolibagwe@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms.Minoli  </h2>
                        <h3 class="comt-1">Bagwe</h3>
                        
                        <h2>PR Executive </h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/SudarshanParanjape_@_sudarshan_paranjape.jpg"%} alt="Team Image">
                        <div class="team-social">
                            
                            <a class="social-li" href="http://www.linkedin.com/in/sudarshan-paranjape-717178191"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href="https://github.com/sudarshan4120"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:suyashssp1@gmail.com"><i class="fas fa-envelope"></i></i></a>
                           
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms.Sudarshan  </h2>
                        <h3 class="comt-1">Paranjape</h3>
                        
                        <h2>Creative Executive </h2>
                        
                    </div>
                </div>
            </div>
           
        </div> 
    </div>

</section>

<section>
    <!--trial--> 
    <div class="container">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/ShardulShroff_@ssshroff1501.jpeg"%} alt="Team Image">
                        <div class="team-social">
                           
                            <a class="social-li" href="https://www.linkedin.com/in/shardul-shroff-83bb021b2"><i class="fab fa-linkedin"></i></a>
                            <a class="social-in" href="https://github.com/shardul1501"><i class="fab fa-github"></i></a>
                            
                            
                            <a class="social-fb" href="mailto:shardulshroff936@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr.Shardul </h2>
                        <h3 class="comt-1">Shroff</h3>
                        <h2>Tech Executive </h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/Harsh Daitkar_@_harshdaitkar_07.jpg"%} alt="Team Image">
                        <div class="team-social">
                          
                            <a class="social-li" href="https://www.linkedin.com/in/harsh-daitkar-635726200/"><i class="fab fa-linkedin"></i></a>
                            <a class="social-in" href="https://github.com/harshh007"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:harshdaitkar07@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr.Harsh Daitkar </h2>
                        
                        <h2>PR Executive </h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/DeepKotian_@_deepkotian_.jpg"%} alt="Team Image">
                        <div class="team-social">
                            
                            <a class="social-li" href="https://www.linkedin.com/in/deep-kotian-b887a1146/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href="https://github.com/deepKotian"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:deepmk227@gmail.com"><i class="fas fa-envelope"></i></i></a>
                           
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr.Deep Kotian</h2>
                       
                            
                         <h2> Creative Executive</h2>
                        
                    </div>
                </div>
            </div>
           
        </div> 
    </div>

</section>

<section>
    <!--trial--> 
    <div class="container">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/HarshMalhotra_@0x4841524d.jpg"%} alt="Team Image">
                        <div class="team-social">
                            
                            <a class="social-tw" href="http://twitter.com/0x4841524d"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="http://linkedin.com/in/harsh257"><i class="fab fa-linkedin"></i></a>
                            <a class="social-in" href="http://github.com/harsh2527"><i class="fab fa-github"></i></a>
                            <a class="social-yt" href="http://harsh257.medium.com/"><i class="fab fa-medium"></i></i></a>
                            
                            <a class="social-fb" href="mailto:harshmalhotra@protonmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr.Harsh </h2>
                        <h3 class="comt-1">Malhotra</h3>
                        <h2>Tech Executive </h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/AnantShukla_@_anant.shukla_.jpg"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-tw" href="https://twitter.com/AnantShukla981"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/in/anant-shukla-9253b2195"><i class="fab fa-linkedin"></i></a>
                            <a class="social-in" href="https://github.com/Anant981"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:anantshukla198@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr.Anand </h2>
                        <h3 class="comt-1">Shukla</h3>
                        <h2>PR Executive </h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/Sarthak Dharia_@sdharia1361.jpeg"%} alt="Team Image">
                        <div class="team-social">
                            <a class="social-tw" href="https://twitter.com/SARTHAK87241663?s=09"><i class="fab fa-twitter"></i></a>
                            <a class="social-li" href="https://www.linkedin.com/in/sarthak-dharia-6735a3200"><i class="fab fa-linkedin-in"></i></a>
                    
                           
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr.Sarthak </h2>
                        <h3 class="comt-1">Dharia</h3>
                         <h2> Creative Executive</h2>
                        
                    </div>
                </div>
            </div>
           
        </div> 
    </div>

</section>

<section>
    <!--trial--> 
    <div class="container">
       
        <div class="row">
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/SomnathPratik_@msd_07_1981.jpg"%} alt="Team Image">
                        <div class="team-social">
                           
                            <a class="social-li" href="https://www.linkedin.com/in/somnath-pratik-0580741aa/"><i class="fab fa-linkedin"></i></a>
                            <a class="social-in" href="https://github.com/somnathpratik"><i class="fab fa-github"></i></a>
                            
                            
                            <a class="social-fb" href="mailto:somnathpratik19@student.sfit.ac.in"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr.Somnath </h2>
                        <h3 class="comt-1">Pratik</h3>
                        <h2>Tech Executive </h2>
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/AniruddhaBhattacharjee_@_aniruddh.png"%} alt="Team Image">
                        <div class="team-social">
                       
                            <a class="social-fb" href="mailto:ashokeabir@gmail.com"><i class="fas fa-envelope"></i></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Mr. Aniruddha </h2>
                        <h3 class="comt-1">Bhattacharjee</h3>
                        <h2>PR Executive</h2>
                        
                        
                        
                        
                    </div>
                </div>
            </div>
            <div class="column mx-auto">
                <div class="team-3">
                    <div class="team-img">
                        <img src={%static "/images/Team_2020-2021/Luvina Mary_@__luvinamary__.jpg"%} alt="Team Image">
                        <div class="team-social">
                            
                            <a class="social-li" href="https://twitter.com/LuvinaMary?s=08"><i class="fab fa-twitter"></i></a>
                            <a class="social-in" href="https://github.com/Luvina6"><i class="fab fa-github"></i></a>
                            <a class="social-fb" href="mailto:luvinam4@gmail.com"><i class="fas fa-envelope"></i></i></a>
                           
                        </div>
                    </div>
                    <div class="team-content">
                        <h2>Ms.Luvina </h2>
                        <h3 class="comt-1">Mary</h3>
                            
                         <h2> Creative Executive</h2>
                        
                    </div>
                </div>
            </div>
           
        </div> 
    </div>

</section>
    <!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="finalcon">

            <div class=" ">
                <div class="">
                    <div class=" large-10 tab-12 s-footer__block">
                        <h4 class="h6">Where to Find Us</h4>
        
                        <p>
                       <i class="fas icon fa-university hvr-underline-reveal"></i> ST.Francis institute of technology  <br>
                       <i class="fas icon fa-map-marked-alt"></i> Mount Poinsur, S.V.P. Road, Borivali (West),<br> Mumbai 400 103 <br>
                       <i class="fas icon fa-envelope"></i> csi@sfit.ac.in<br>
                       <i class="fas icon fa-phone-volume"> </i> 022-28954787
                    
                        </p>
                    </div>
        
                    <div class=" large-5 tab-12 s-footer__block">
                        <h4 class="h6">Follow Us</h4 class="h6">
        
                        <ul class="social-i">
                            <a href="https://github.com/CSI-SFIT"><i class="fab links fa-github fa-2x"></i></a>
                            <a href="https://www.instagram.com/csi_sfit/"><i class="fab links fa-instagram fa-2x"></i></a>
                           <a href="https://www.linkedin.com/company/csi-sfit/mycompany/"> <i class="fab links fa-linkedin fa-2x"></i></a>
                           <a href="https://www.youtube.com/channel/UC7fiMWl2n3BXDQCKk3blUMA"><i class="fab links fa-youtube fa-2x"></i></a>
                           <a style="margin-right: 10px;" href="https://discord.gg/aJBAje32jU"><i class="fab  fa-discord fa-2x"></i></a>
                           <a href="mailto:csi@sfit.ac.in" target="blank"><i class="fas fa-envelope-square fa-2x"></i></a>
                            
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="column large-4 medium-12 s-footer__block--end">
                <a href="https://linktr.ee/CSI_SFIT" target="_blank" class="btn h-full-width"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z" />
                    </svg>
                    Contact Us</a>
            
                    <div class="ss-copyright">
                        <span>© 2021 Copyright: CSI SFIT</span> 
                        <span> Website by: <a href="https://www.linkedin.com/in/varun-patkar/">Varun</a>
                            <a href="https://www.linkedin.com/in/vedant-kadam-412021204/">Vedant</a>
                            <a href="https://www.linkedin.com/in/parbat-singh-8b9305218/">Parbat</a>
                        </span>
                    </div>
            </div>

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <i class="fas fa-arrow-up"></i>
                </a>
            </div> <!-- end ss-go-top -->

        </div>
    </footer>




    <!-- Java Script
    ================================================== -->
     <script src="{%static 'js/jquery-3.2.1.min.js'%}"></script>
    <script src="{%static 'js/plugins.js'%}"></script>
    <script src="{%static 'js/main.js'%}"></script>
</body>

</html>